@{
    bool isRTL = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - NWC</title>
    <link href="~/lib/kendo/css/kendo.default-v2.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/lib/kendo//css/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/kendo//css/kendo.dataviz.bootstrap.min.css" rel="stylesheet" type="text/css" />*@

    <script src="~/lib/kendo/js/jquery.min.js"></script>
    <script src="~/lib/kendo/js/angular.min.js"></script>
    <script src="~/lib/kendo/js/jszip.min.js"></script>
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo/js/kendo.aspnetmvc.min.js"></script>
    @if (isRTL)
	{
		<script src="~/lib/kendo/js/kendo.messages.ar-SA.min.js"></script>
		<script src="~/lib/kendo/js/kendo.culture.ar-EG.min.js" asp-append-version="true"></script>

		<script>
            kendo.culture("ar-EG");
		</script>

	}
	else{
        <script src="~/lib/kendo/js/kendo.culture.en-US.min.js" asp-append-version="true"></script>
        <script>
            kendo.culture("en-US");
		</script>
	}
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />

    <!-- vendor css -->
    <link href="~/out/css/vendors.min.css" rel="stylesheet">
    @*<link href="~/dist/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="~/dist/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="~/dist/lib/jqvmap/jqvmap.min.css" rel="stylesheet">*@

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="~/out/css/site@(isRTL?".rtl":"").min.css">
    <style>
        .k-grid-header .k-header > .k-link {
            text-align: center;
        }

        .container {
            max-width: 95%
        }
    </style>
</head>
<body class="page-profile @(isRTL?"k-rtl":"")">
    <!-- navbar -->
    @await Html.PartialAsync("_LayoutHeader")
    <div class="content content-fixed">
        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
            @await Html.PartialAsync("BreadCrumb")
            <div id="notificationsDiv" class="k-content"></div>
            @RenderBody()
        </div><!-- container -->
    </div><!-- content -->
    @*<footer class="footer" style="position:fixed;display:block;text-align:center;bottom:0px">
            <div>
                <span>&copy; @DateTime.Now.Year NWC Hayat Mobility Portal. </span>
            </div>
        </footer>*@

    @(Html.Kendo().Window()
        .Name("GeneralWnd")
        .Modal(true)
        .Iframe(false)
        .Actions(a =>
        {
            a.Close();
            a.Maximize();
            a.Pin();
            a.Refresh();
        })
        .Title("")
        .Visible(false)
        .Scrollable(true)
        .Resizable()
        .Draggable(true)

    )
    @(Html.Kendo().Notification()
        .Name("staticNotification")
        .AppendTo("#notificationsDiv")
    )

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/out/js/jquery.validation.min.js"></script>
    @*<script src="~/dist/lib/jquery.validate.min.js"></script>
        <script src="~/dist/lib/jquery.validate.unobtrusive.min.js"></script>*@
    @*<script src="~/dist/assets/js/jquery.cookie.js"></script>*@
    <script src="~/dist/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/lib/feather-icons/feather.min.js"></script>
    <script src="~/dist/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/out/js/jquery.flot.min.js"></script>
    @*<script src="~/dist/lib/jquery.flot/jquery.flot.js"></script>
        <script src="~/dist/lib/jquery.flot/jquery.flot.stack.js"></script>
        <script src="~/dist/lib/jquery.flot/jquery.flot.resize.js"></script>*@
    @*<script src="~/dist/lib/chart.js/Chart.bundle.min.js"></script>*@
    <script src="~/lib/Chart.js/chart.min.js"></script>
    <script src="~/dist/lib/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/dist/assets/js/dashforge.js"></script>
    <!-- append theme customizer -->

    <script>
        function onGridError(e) {

            if (e.errors) {
                var message = "@Html.Raw(Labels.Error)"+": \n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                var staticNotification = $("#staticNotification").data("kendoNotification");
                staticNotification.show(message, "error");
                $("#BranchesGrid").data("kendoGrid").cancelChanges();
                //alert(message);
            }
            if (e.xhr && e.xhr.status == 404)
                location.reload();
        }
        function replaceFeatherIcons() {
            feather.replace();
        }
        function GetStatusIcon(status) {
            if (status)
                return "<li data-feather='check-circle' stroke='green'></li>";
            else
                return "<li data-feather='x-circle' stroke='red'></li>";
        }
    </script>
</body>
</html>