<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="@Url.Action("","Home",new { area = "" })">@Labels.Home</a></li>
                <li class="breadcrumb-item">@ViewData["breadcrumb1"]</li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["breadcrumb2"]</li>
            </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">@ViewData["breadcrumb-message"]</h4>
    </div>
    <div class="d-none d-md-block">
    </div>
</div>