@model nwc.Tarwya.Application.ViewModels.Identity.LoginVm
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

    <title>Login - NWC</title>

    <!-- vendor css -->
    <link href="~/dist/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/dist/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="~/dist/assets/css/dashforge.css">
    <link rel="stylesheet" href="~/dist/assets/css/dashforge.auth.css">
</head>
<body>
    <div class="content content-fixed content-auth">
        <div class="container">
            <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
                <div class="media-body align-items-center d-none d-lg-flex">
                    <div class="mx-wd-600">
                        <img src="~/dist/assets/img/NWC LOGO LANDSCAPE 33.jpg" class="img-fluid" alt="">
                    </div>
                </div><!-- media-body -->
                <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
                    <div class="wd-100p">
                        <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                        <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please signin to continue.</p>
                        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@TempData["ReturnUrl"]">
                            @Html.ValidationSummary(true, null, new { style = "color:red;" })
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label>UserName/Email</label>
                                @Html.TextBoxFor(m => m.UserName, new { type = "text", @class = "form-control", placeholder = "yourname@yourmail.com",autocomplete="off" })
                                @Html.ValidationMessageFor(m => m.UserName, null, new { style = "color:red;" })
                                @*<input name="UserName" type="text" class="form-control" placeholder="yourname@yourmail.com">*@
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between mg-b-5">
                                    <label class="mg-b-0-f">Password</label>
                                    @*<a href="#" class="tx-13">Forgot password?</a>*@
                                </div>
                                @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "form-control", placeholder = "Enter your password" })
                                @Html.ValidationMessageFor(m => m.Password, null, new { style = "color:red;" })
                                @*<input name="Password" type="password" class="form-control" placeholder="Enter your password">*@
                            </div>
                            <button class="btn btn-brand-02 btn-block" type="submit">Sign In</button>
                        </form>
                    </div>
                </div><!-- sign-wrapper -->
            </div><!-- media -->
        </div><!-- container -->
    </div><!-- content -->

    <footer class="footer">
        <div>
            <span>&copy; 2019 NWC Tarwya v1.0.0. </span>
            <span>Created by <a href="#">NWC</a></span>
        </div>
    </footer>

    <script src="~/dist/lib/jquery/jquery.min.js"></script>
    <script src="~/out/js/jquery.validation.min.js"></script>
    <script src="~/dist/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/lib/feather-icons/feather.min.js"></script>
    <script src="~/dist/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script src="~/dist/assets/js/dashforge.js"></script>

    <!-- append theme customizer -->
    <script src="~/dist/lib/js-cookie/js.cookie.js"></script>

</body>

</html>
