@using nwc.Tarwya.Application.ViewModels.Categories
@{
    ViewData["Title"] = "Index";
    ViewData["breadcrumb1"] = Labels.Categories;
}

<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">

    <div class="d-none d-md-block">
        <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5" onclick="importCategories()">@Labels.Import</button>
    </div>
</div>

<div class="row">

    @(Html.Kendo().Grid<CategoryVm>()
            .Name("categoryGrid")
            .Columns(columns =>
            {
                columns.Bound(p => p.Id).Filterable(false).Visible(false);
                columns.Bound(p => p.NameAr).Title(Labels.NameAr).Width(300);
                columns.Bound(p => p.NameEn).Title(Labels.NameEn).Width(300);
                columns.Bound(p => p.NameFa).Title(Labels.NameFa).Width(300);
                columns.Bound(p => p.NameFr).Title(Labels.NameFr).Width(300);
                columns.Bound(p => p.NameId).Title(Labels.NameId).Width(300);
                columns.Bound(p => p.NameTr).Title(Labels.NameTr).Width(300);
                columns.Bound(p => p.NameUr).Title(Labels.NameUr).Width(300);
            })
            .ClientDetailTemplateId("CategoryItemstemplate")
            .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(true)
                    .ButtonCount(5))
            .Sortable()
            .Scrollable()
            .Resizable(resize => resize.Columns(true))
            .HtmlAttributes(new { style = "height:430px;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(100)
                .Read(read => read.Action("GetCategories", "Category"))
                .Create(create => create.Action("Create", "Departments", new { LID = "#=Id#" }))
                .Model(model =>
                {
                    model.Id(p => p.Id);
                })
                .Events(e => e.Error("OnError"))
             )
                .HtmlAttributes(new { style = "height: 95%;width:100%" })

    )

    <script id="CategoryItemstemplate" type="text/kendo-tmpl">
        @*<strong>Items:</strong>*@

        @(Html.Kendo().Grid<SubCategoryVm>()
                .Name("grid_#=Id#")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Id).Filterable(false).Visible(false);
                    columns.Bound(p => p.Code).Title(Labels.Code);
                    columns.Bound(p => p.NameAr).Title(Labels.NameAr);
                    columns.Bound(p => p.NameEn).Title(Labels.NameEn);
                    columns.Bound(p => p.NameFa).Title(Labels.NameFa);
                    columns.Bound(p => p.NameFr).Title(Labels.NameFr);
                    columns.Bound(p => p.NameId).Title(Labels.NameId);
                    columns.Bound(p => p.NameTr).Title(Labels.NameTr);
                    columns.Bound(p => p.NameUr).Title(Labels.NameUr);
                })
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(100)
                  .Read(read => read.Action("GetCategoryItems", "Category", new { CategoryId = "#=Id#" }))
              )

              .Pageable()
              .Sortable()
              .ToClientTemplate()
        )
    </script>

    <script>
		function OnError(e, states) {
			debugger;
			alert("Error: " + e.errors);
		}
		function importCategories() {
			var kwind = $("#GeneralWnd").data("kendoWindow");
			if (kwind) {
				kwind.setOptions({
					content: { url: "@Url.Action("ImportFile","Home",new { importType=(int)ImportType.Categories})" },
					title: '@Html.Raw(Labels.Import) @Html.Raw(Labels.Categories)',
					width:"26%"
				});
				kwind.bind("close", function (e) {
					$("#categoryGrid").data('kendoGrid').dataSource.read();
				});

				kwind.refresh().center().open();
			}
		}
    </script>
</div>

